.group-information {
    font-size: 19px;
    color: #424147;
}

#group-dates, #group-number {
    color: #A3B6EE;
}

.delete-img {
    height: 50%;
    top: 30%;
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.selected {
  opacity: 0.2;
  z-index: 1;
}

.delete-view {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 30px 30px 0 0;
    border:  #a90001 1px dashed;
    box-shadow: black;
    height: 15%;
    width: 100%;
    opacity: 0.8;
    z-index: 2;
}

.pair-cell {
    min-height: 230px;
    position:relative;
}

.pencil {
    position:absolute;
    top: 3%;
    right: 3%;
    height: 32px;
}

.add-pair-cell {
    background-color: #c9d2ec;
    moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.add-pair-cell:hover {
    background-color: #a5b7ed;
}

.add-pair-cell:active {
    transform: scale(97%);
}

.add-pair-plus {
    font-size: 100px;
}

.pencil-img:hover {
    transform: rotate(360deg);
    transition: 0.5s;
}

.delete-button {
    background-color: #be0000;
    color: #ffffff;
    border-radius: 14px;
    font-size: 15px;
    -webkit-box-shadow: 5px 4px 20px -7px rgb(206, 100, 100);
    -moz-box-shadow: 5px 4px 20px -7px rgba(206, 100, 100);
    box-shadow: 5px 4px 20px -7px rgba(206, 100, 100);
}

.delete-button:hover {
    transform: scale(102%);
    background-color: #8f0000;
    color: white;
}

.delete-button:active {
    outline:none;
    transform: scale(95%);
}