* {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #eeeef5;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(167, 167, 169, 0.13);
    -webkit-box-shadow: 0px 8px 14px -7px rgba(208, 208, 208, 1);
    -moz-box-shadow: 0px 8px 14px -7px rgba(208, 208, 208, 1);
    box-shadow: 0px 8px 14px -7px rgba(208, 208, 208, 1);
}

.logo {
    border-radius: 25%;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 199, 255, 0.29);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0, 199, 255, 0.29);
    box-shadow: 0px 0px 21px 0px rgba(0, 199, 255, 0.29);
}

.navbar-name {
    font-family: 'Raleway', sans-serif;
    margin-left: 5px;
    color: #424147;
}

.time-flow-button {
    background-color: #f0bd58;
    color: #424147;
    border-radius: 14px;
    font-size: 15px;
    -webkit-box-shadow: 5px 4px 20px -7px rgba(240, 189, 88, 1);
    -moz-box-shadow: 5px 4px 20px -7px rgba(240, 189, 88, 1);
    box-shadow: 5px 4px 20px -7px rgba(240, 189, 88, 1);
}

.time-flow-button:hover {
    transform: scale(102%);
    background-color: #fcae10;
}

.time-flow-button:active {
    outline: none;
    transform: scale(95%);
}

.accept-button {
    background-color: #8ed4ba;
    border-radius: 14px;
    font-size: 15px;
    width: 100px;
    -webkit-box-shadow: 5px 4px 20px -7px #8ed4ba;
    -moz-box-shadow: 5px 4px 20px -7px #8ed4ba;
    box-shadow: 5px 4px 20px -7px #8ed4ba;
}

.accept-button:hover {
    transform: scale(102%);
    background-color: #61d495;
}

.accept-button:active {
    outline: none;
    transform: scale(95%);
}

.reject-button {
    background-color: #d47676;
    border-radius: 14px;
    font-size: 15px;
    -webkit-box-shadow: 5px 4px 20px -7px #d47676;
    -moz-box-shadow: 5px 4px 20px -7px #d47676;
    box-shadow: 5px 4px 20px -7px #d47676;
}

.reject-button:hover {
    transform: scale(102%);
    background-color: #d96161;
}

.reject-button:active {
    outline: none;
    transform: scale(95%);
}

.application-photo {
    max-height: 135px;
    border-radius: 50%;
}

.card {
    border-radius: 20px;
}

#container {
    background-color: rgba(167, 167, 169, 0.13);
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 12px;
    padding-top: 10px;
}

.header {
    font-size: 30px;
    text-align: center;
}

.message {
    color: #424147;
    font-size: 20px;
}

.pagination-block{
    display: inline-block;
}

.multiselect {
    margin-bottom: 10px;
}

.teacher {
    border-radius: 15px;
}

.selectBox {
    position: relative;

}

.selectBox select {
    width: 100%;
    border-radius: 15px;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    border-radius: 15px;
}

.checkboxes label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    text-align: left;
}

.checkboxes label:hover {
    background-color: #1e90ff;
    border-radius: 15px;
}
.addEntity {
    font-size: large;
}

.add {
    padding-top: 5px;
}

.container-form{
    position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.form-control, .form-label{
	margin: 0 auto;
	max-width: 400px;
	width: 100%;
	text-align: start;
}