:root {
    --color-background-light: #eae9eb;
    --color-background-gray: #DEDDE3;
    --color-background-dark: #91939F;
    --color-custom-yellow: #FEC461;
    --color-custom-pink: #EDB3A5;
    --color-custom-blue: #A3B6EE;
    --color-custom-green: #89A6A2;
    --color-text: #424147;
}

body{
    background-color: var(--color-background-light);
}

.logo span {
    font-size: 24px;;
}

.btn{
    background-color: var(--color-background-dark);
    width: 250px;
    border-radius: 34px;;
}

.btn-green{
    background-color: var(--color-custom-green);
}

.container{
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.login-form, .register-form{
    margin: 0 auto;
    width:fit-content
}

.form-control, .form-label{
    width: 400px;
	text-align: start;
}

.switch {
    margin-top: 20px;
	display: inline-block;    
	height: 100px;    
	position: relative;
	vertical-align: middle;
	font-size: 24px;
	user-select: none;	
    line-height: 50px;
}

.switch .slider {
	display: inline-block;	
	height: 50px;
	width: 500px;
    border-radius: 34px;
	box-sizing: border-box;
	position: relative;	
	background: var(--color-custom-green);
	transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.switch .slider:before {
	content: attr(data-label-on);
	display: inline-block;
	box-sizing: border-box;		
	width: 400px;	
	position: absolute;
	top: 0;
	left: 100px;	
	text-transform: uppercase;
	text-align: center;
	color: white;
	line-height: 50px;
}
.switch .slider:after {
	content: attr(data-label-off);
	display: inline-block;
	box-sizing: border-box;	
	width: 250px;	
	border-radius: 34px;;	
	position: absolute;
	top: 2px;
	left: 2px;	
	z-index: 5;
	text-transform: uppercase;
	text-align: center;
	background: white;
	line-height: 45px;
	color: var(--color-background-dark);	
	transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
}
.switch input[type="checkbox"] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.switch input[type="checkbox"]:checked + .slider:before {
	content: attr(data-label-off);
	left: 0;
}
.switch input[type="checkbox"]:checked + .slider:after {
	content: attr(data-label-on);
	color: var(--color-background-dark);
	transform: translate3d(245px, 0, 0);
}
 
.switch input[type="checkbox"]:not(:disabled) + .slider:hover {
	cursor: pointer;
}
.switch input[type="checkbox"]:not(:disabled) + .slider:hover:after {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
 
.switch input[type=checkbox]:disabled + .slider {
	opacity: 0.6;   
	filter: grayscale(50%);
}
 
/* .switch input[type="checkbox"]:checked + .slider {
	можно изменить цвет слайдера при переключении
} */